on property:twrp.enable.fastcharge=true
    chmod 0664 /sys/class/qcom-battery/pd_verifed
    chmod 0664 /sys/class/qcom-battery/request_vdm_cmd
    chmod 0664 /sys/class/qcom-battery/verify_process
    chmod 0664 /sys/class/qcom-battery/authentic
    chmod 0664 /sys/class/qcom-battery/verify_slave_flag
    chmod 0664 /sys/class/qcom-battery/slave_authentic
    chmod 0664 /sys/class/qcom-battery/is_old_hw

service batterysecret /system/bin/batterysecret
    class last_start
    user root
    group system system wakelock
    disabled
    seclabel u:r:recovery:s0

