on fs
    chown system system /sys/bus/i2c/drivers/aw8697_haptic/2-005a/f0_save
    chown system system /sys/bus/i2c/drivers/aw8697_haptic/2-005a/osc_save
    chown system system /sys/bus/i2c/drivers/aw8697_haptic/3-005a/osc_save
    chown system system /sys/bus/i2c/drivers/aw8697_haptic/2-005a/custom_wave
    chmod 0666  /sys/bus/i2c/drivers/aw8697_haptic/2-005a/custom_wave
    chown system system /sys/bus/i2c/drivers/aw8697_haptic/2-005a/custom_wave
    chmod 0666  /sys/bus/i2c/drivers/aw8697_haptic/2-005a/custom_wave
    chown system system /sys/bus/i2c/drivers/aw8697_haptic/3-005a/custom_wave
    chmod 0666  /sys/bus/i2c/drivers/aw8697_haptic/3-005a/custom_wave
    chmod 0666 /sys/class/qcom-haptics/lra_calibration
    chown system system /sys/bus/i2c/drivers/aw8697_haptic/0-005a/custom_wave
    chmod 0666  /sys/bus/i2c/drivers/aw8697_haptic/0-005a/custom_wave
    chmod 0666 /sys/class/qcom-haptics/lra_impedance
    chown system system /sys/bus/i2c/drivers/awinic_haptic/3-005a/f0_save
    chown system system /sys/bus/i2c/drivers/awinic_haptic/3-005a/osc_save
    chown system system /sys/bus/i2c/drivers/awinic_haptic/3-005a/custom_wave
    chmod 0666  /sys/bus/i2c/drivers/awinic_haptic/3-005a/custom_wave
    chown system system /sys/bus/i2c/drivers/awinic_haptic/3-005a/f0_value
    chmod 0666  /sys/bus/i2c/drivers/awinic_haptic/3-005a/f0_value
    chown system system /sys/bus/i2c/drivers/awinic_haptic/3-005a/nv_flag
    chmod 0666  /sys/bus/i2c/drivers/awinic_haptic/3-005a/nv_flag
    chmod 0666  /sys/bus/i2c/drivers/aw8697_haptic/5-005a/custom_wave
    chmod 0666  /sys/bus/i2c/drivers/awinic_haptic/5-005a/custom_wave
    chmod 0666  /sys/bus/i2c/drivers/aw8697_haptic/1-005a/custom_wave
    chmod 0666  /sys/bus/i2c/drivers/aw8697_haptic/4-005a/custom_wave
    chmod 0666  /sys/bus/i2c/drivers/aw8697_haptic/6-005a/custom_wave
    chown system system /sys/bus/i2c/drivers/aw8697_haptic/4-005a/custom_wave
    chown system system /sys/bus/i2c/drivers/aw8697_haptic/6-005a/custom_wave
    chown system system /sys/bus/i2c/drivers/aw8697_haptic/5-005a/custom_wave
    chown system system /sys/bus/i2c/drivers/aw8697_haptic/1-005a/custom_wave
    chmod 0666  /sys/bus/i2c/drivers/awinic_haptic/4-005a/custom_wave
    chmod 0666  /sys/bus/i2c/drivers/awinic_haptic/2-005a/custom_wave
    chmod 0666  /sys/bus/i2c/drivers/awinic_haptic/1-005a/custom_wave
    chmod 0666  /sys/bus/i2c/drivers/awinic_haptic/0-005a/custom_wave
    chmod 0666  /sys/bus/i2c/drivers/awinic_haptic/6-005a/custom_wave
    chown system system /sys/bus/i2c/drivers/awinic_haptic/4-005a/custom_wave
    chown system system /sys/bus/i2c/drivers/awinic_haptic/2-005a/custom_wave
    chown system system /sys/bus/i2c/drivers/awinic_haptic/1-005a/custom_wave
    chown system system /sys/bus/i2c/drivers/awinic_haptic/0-005a/custom_wave
    chown system system /sys/bus/i2c/drivers/awinic_haptic/5-005a/custom_wave
    chown system system /sys/bus/i2c/drivers/awinic_haptic/6-005a/custom_wave

service vibratorfeature-hal-service /system/bin/vendor.xiaomi.hardware.vibratorfeature.service
    class hal
    user root
    group root input
    onrestart restart vibratorfeature
    setenv LD_LIBRARY_PATH /vendor/lib64:/vendor/lib64/hw:/system/lib64:/sbin
    disabled
    seclabel u:r:recovery:s0
